<h1>We Miss You!</h1>
<p>Hello,</p>
<p>We noticed that you deleted your account. We're sorry to see you go!</p>
<p>If you change your mind, you can always join us again.</p>
<p>Best regards,<br>Your Team</p>
